version: 'alpine'
services:
  fast-api:
    build: ./app
    ports:
      - "80"
  app2:
    build: ./app2
    ports:
      - "90"
  appgo:
    restart: always
    build:
      context: goapp
      target: builder
    ports:
      - "70"
  proxy:
    image: nginx
    restart: always
    volumes:
      - type: bind
        source: ./proxy/nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
    depends_on:
      - fast-api
      - app2
      - appgo
    ports:
      - "8080:8080"
    # volumes:
    #   - ./nginx.conf:/etc/nginx/nginx.conf
