version: 'alpine'
services:
  goapi:
    build: .
    ports:
      - "70"
    # service-youtube-dl:
    #   build: ./services/youtube-dl
    #   ports:
    #     - "9999:9999"
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
      # - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - goapi
    ports:
      - "8080:8080"
